import request from '@/utils/request-api'

export default {
  getList(query) {
    return request({
      url: '/api/${realTableNameLowCamelCase}/query',
      method: 'get',
      params: query
    })
  },

  getById(id) {
    return request({
      url: '/api/${realTableNameLowCamelCase}/query/' + id,
      method: 'get'
    })
  },

  add(data) {
    return request({
      url: '/api/${realTableNameLowCamelCase}/create',
      method: 'post',
      data
    })
  },

  update(data) {
    return request({
      url: '/api/${realTableNameLowCamelCase}/update',
      method: 'put',
      data
    })
  },

  remove(data) {
    return request({
      url: '/api/${realTableNameLowCamelCase}/remove',
      method: 'delete',
      data
    })
  }
}
