<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyadmin.security.mapper.AuthMapper">

    <resultMap id="BaseResultMap" type="com.jyadmin.security.domain.User">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        nickname,avatar,phone,
        type,status,create_by,
        update_by,create_time,update_time,
        deleted
    </sql>

    <select id="selectAllPermissions" resultType="com.jyadmin.security.domain.PermissionAction">
        select
            spa.id, spa.name, spa.code, spa.description, spa.group_id "groupId", spa.sort,
            spa.status, spa.create_by "createBy", spa.update_by "updateBy",
            spa.create_time "createTime", spa.update_time "updateTime", spa.deleted
        from tr_user_role tur
                 left join tr_permission_role_menu tprm on tur.role_id  = tprm.role_id
                 left join tr_permission_menu_action tpma on tprm.menu_id = tpma.menu_id
                 left join sys_permission_action spa on spa.id = tpma.action_id
        where spa.deleted = 0 and spa.status = 1
    </select>

    <select id="selectPermissionsByUserId" resultType="com.jyadmin.security.domain.PermissionAction">
        select
            spa.id, spa.name, spa.code, spa.description, spa.group_id "groupId", spa.sort,
            spa.status, spa.create_by "createBy", spa.update_by "updateBy",
            spa.create_time "createTime", spa.update_time "updateTime", spa.deleted
        from tr_user_role tur
                 left join tr_permission_role_menu tprm on tur.role_id  = tprm.role_id
                 left join tr_permission_menu_action tpma on tprm.menu_id = tpma.menu_id
                 left join sys_permission_action spa on spa.id = tpma.action_id
        where tur.user_id = #{userId} and spa.deleted = 0 and spa.status = 1
    </select>

    <select id="selectMenus" resultType="java.util.Map">
        select
            spm.id, spm.name, spm.code,spm.type, spm.description, spm.parent_id "parentId", spm.url, spm.path, spm.method, spm.icon,
            spm.style, spm.sort, spm.cache,spm.visiable, spm.link, spm.status, spm.component,
            spm.create_by "createBy", spm.update_by "updateBy", spm.create_time "createTime",
            spm.update_time "updateTime", spm.deleted
        from tr_user_role tur
                 left join tr_permission_role_menu tprm on tur.role_id  = tprm.role_id
                 left join sys_permission_menu spm on spm.id = tprm.menu_id
        where tur.user_id = #{userId} and spm.deleted = 0 and spm.status = 1
        order by spm.sort
    </select>

    <select id="selectRoles" resultType="java.util.Map">
        select
               sr.id, sr.name, sr.code, sr.description,
               sr.sort, sr.status, sr.create_by, sr.update_by,
               sr.create_time, sr.update_time
        from tr_user_role tur
        left join sys_role sr on sr.id = tur.role_id
        where sr.status = 1 and sr.deleted = 0 and tur.user_id = #{userId}
    </select>

    <select id="selectApiPermissionByUserId" resultType="java.lang.String">
        SELECT
            sr.api_permission
        FROM sys_user su
                 INNER JOIN tr_user_role tur on tur.user_id = su.id
                 INNER JOIN sys_role sr on sr.id = tur.role_id
        WHERE su.`status` = 1 AND su.deleted = 0 AND sr.deleted = 0 and sr.`status` = 1 and su.id = #{userId}
    </select>


</mapper>
