package ${packageName}.model.vo;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import java.io.Serializable;

/**
 * ${tableRemark} <br>
 * @author ${author} <br>
 * @version ${version} <br>
 * Create by ${currTime} <br>
 * @description: ${realTableNameUpperCamelCase}UpdateReqVO <br>
 */
@ApiModel("${tableRemark}-修改-数据模型")
@Data
public class ${realTableNameUpperCamelCase}UpdateReqVO implements Serializable {
#foreach($field in $fields)
#if($field.fieldIgnore == 0)
#if($field.showForm == 1)

    /**
     * ${field.fieldRemark}
     */
    @ApiModelProperty(value = "${field.fieldRemark}", name = "${field.realFieldNameLowCamelCase}")
    #if($field.javaType.equals('String') && $field.formRequire == 1)
    @NotBlank(message = "${field.fieldRemark}不能为空")
    #else
    @NotNull(message = "${field.fieldRemark}不能为空")
    #end
    private ${field.javaType} ${field.realFieldNameLowCamelCase};
#end
#end
#end
}
