package ${packageName}.domain;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
#if($tableType.equals('ot'))
import com.jyadmin.domain.base.BaseEntity;
#else
import com.jyadmin.domain.base.BaseTrEntity;
#end
import lombok.Data;
import lombok.experimental.Accessors;
#foreach($item in $importPackages)
import $item;
#end

/**
 * ${tableRemark} <br>
 * @TableName ${tableName} <br>
 * @author ${author} <br>
 * @version ${version} <br>
 * Create by ${currTime} <br>
 * @description: ${realTableNameUpperCamelCase} <br>
 */
@TableName(value ="${tableName}")
@Accessors(chain = true)
@Data
public class ${realTableNameUpperCamelCase} extends #if($tableType.equals('ot'))BaseEntity#{else}BaseTrEntity#end implements Serializable {
#foreach($field in $fields)
#if($field.fieldIgnore == 0)
    #if($field.pk.equals('1') == false)

    /**
     * ${field.fieldRemark}
     */
    @TableField(value = "${field.fieldName}")
    private ${field.javaType} ${field.realFieldNameLowCamelCase};
    #end
#end
#end

    @TableField(exist = false)
    private static final long serialVersionUID = 1L;
}