<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${realTableNameUpperCamelCase}Mapper">
    <resultMap id="BaseResultMap" type="${packageName}.domain.${realTableNameUpperCamelCase}">
    #foreach($field in $fields)
        #if($field.pk.equals('1'))
            <id property="${field.realFieldNameLowCamelCase}" column="${field.fieldName}" jdbcType="${field.fieldType}"/>
        #else
            #if($field.fieldType.equals('INT'))
            <result property="${field.realFieldNameLowCamelCase}" column="${field.fieldName}" jdbcType="INTEGER"/>
            #else
            <result property="${field.realFieldNameLowCamelCase}" column="${field.fieldName}" jdbcType="${field.fieldType}"/>
            #end
        #end
    #end
    </resultMap>

    <sql id="Base_Column_List">
    #foreach($field in $fields)
        #if($foreach.last)
        ${field.fieldName}
        #else
        ${field.fieldName},
        #end
    #end
    </sql>
</mapper>
