<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyadmin.system.permission.action.mapper.PermissionActionMapper">

    <resultMap id="BaseResultMap" type="com.jyadmin.system.permission.action.domain.PermissionAction">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        description,group_id,sort,
        status,create_by,update_by,
        create_time,update_time,deleted
    </sql>

    <select id="selectFromUser" resultType="com.jyadmin.system.permission.action.domain.PermissionAction">
        select
            spa.id, spa.name, spa.code, spa.description, spa.group_id, spa.sort,
            spa.status, spa.create_by, spa.update_by, spa.create_time, spa.update_time, spa.deleted
        from tr_user_role tur
        left join tr_permission_role_menu tprm on tur.role_id  = tprm.role_id
        left join tr_permission_menu_action tpma on tprm.menu_id = tpma.menu_id
        left join sys_permission_action spa on spa.id = tpma.action_id
        where tur.deleted = 0 and tprm.deleted = 0 and tpma.deleted = 0 and spa.deleted = 0 and tur.user_id = #{userId} and spa.status = '1'
    </select>

    <select id="selectTree" resultType="java.util.Map">
        select
               spag.id "groupId", spag.name "groupName", spag.code "groupCode",
               spa.id "actionId", spa.name "actionName", spa.code "actionCode"
        from sys_permission_action_group spag
        left join sys_permission_action spa on spa.group_id = spag.id and spa.deleted = 0 and spa.status = 1
        where spag.deleted = 0
        order by spag.sort, spa.sort
    </select>
</mapper>
