<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyadmin.system.permission.action.mapper.PermissionMenuActionMapper">

    <resultMap id="BaseResultMap" type="com.jyadmin.system.permission.action.domain.PermissionMenuAction">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="actionId" column="action_id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_id,action_id,
        create_by,create_time
    </sql>
</mapper>
