<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyadmin.system.job.log.mapper.QuartzLogMapper">

    <resultMap id="BaseResultMap" type="com.jyadmin.system.job.log.domain.QuartzLog">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="bean" column="bean" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="cronExpression" column="cron_expression" jdbcType="VARCHAR"/>
            <result property="execStatus" column="exec_status" jdbcType="INTEGER"/>
            <result property="execTime" column="exec_time" jdbcType="INTEGER"/>
            <result property="errorDesc" column="error_desc" jdbcType="VARCHAR"/>
            <result property="principal" column="principal" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="isNotify" column="is_notify" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,
        bean,method,params,
        cron_expression,exec_status,exec_time,
        error_desc,principal,email,
        is_notify,create_time,
        deleted
    </sql>
</mapper>
